root = true

[**]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 98
trim_trailing_whitespace = true

[**.{ex,exs}]
max_line_length = 98

[**.{php,py,elm}]
max_line_length = 80
indent_size = 4

[**.envrc]
trim_trailing_whitespace = false
max_line_length = off

[{Makefile,Godeps.json,*.go}]
indent_style = tab

[COMMIT_EDITMSG]
max_line_length = 72

[**.json]
max_line_length = off
