[user]
  email = 868014+danielspofford@users.noreply.github.com
  name = Daniel Spofford
	signingkey = 21406158E4448D8B
[url "git@github.com:"]
  insteadOf = https://github.com/
[commit]
  template = ~/.gitmessage
	gpgsign = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = less -FXR
[init]
	defaultBranch = main
